<!-- <% if(success && success.length) { %>
    <h1 class="color-green"> <%= success %> </h1>
    <% } %>

    <% if(error && error.length) { %>
        <h1 class="color-red"> <%= error %> </h1>
        <% } %> -->

<!-- <% if(success && success.length) { %>
<div class="act-buttons">
  <a href="#" class="btn btn-danger-gradiant font-14"><%= success %>!</a>
</div>
<% } %> <% if(error && error.length) { %>
<div class="act-buttons">
  <a href="#" class="btn btn-danger-gradiant font-14"><%= error %>!</a>
</div>
<% } %> -->
